* {
  background-color: black;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

.nav-bar {
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
}

.nav-bar a {
  color: white;
  padding-left: 20px;
}

.nav-bar li {
  display: inline;
  font-size: 22px;
  justify-content: flex-end;
  margin-right: 20px;
}

.mainImage {
  overflow-x: hidden;
  margin: 0 20px;
}

.mainCover {
  height: 700px;
  width: 100%;
  object-fit: cover;
  overflow-x: hidden;
}

.mainBanner {
  width: 100%;
  color: white;
  overflow: hidden;
  background-color: black;
  position: absolute;
  z-index: 1;
  top: 320px;
  left: 0;
}

.mainBanner h4 {
  text-align: center;
  margin: 20px;
}

.mainBanner h2 {
  text-align: center;
}

.secondHeading {
  text-align: center;
  color: white;
  margin-top: 80px;
}

.secondh4 {
  text-align: center;
  color: white;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.images2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.images2 img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.images img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.images h3 {
  color: white;
  text-align: center;
}

.images2 h3 {
  color: white;
  text-align: center;
}

.lastcontainer {
  width: auto;
  background-image: url("resources/img-locations-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 80px;
}

.lastcontainer h1 {
  color: white;
  text-align: center;
  background-color: transparent;
  padding-top: 50px;
  display: block;
}

.containers {
  flex-wrap: wrap;
  background-color: transparent;
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  max-height: 500px;
}

.container1 {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px 40px;
}

.container1 h2 {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.container1 p {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.container2 {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px 40px;
}

.container2 h2 {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.container2 p {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.container3 {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: 10px 40px;
}

.container3 h2 {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.container3 p {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.footer-container {
  color: white;
  text-align: center;
}

.copyright {
  color: white;
  padding-left: 20px;
}
